<h1>Home</h1>
<p>
    <%=homeContent%>
</p>

<%post.forEach((element)=>{%>
    <h1>
        <%=element.title%>
    </h1>

    <h4>
        <%=element.post.substring(0,100) %> ... <a href="/post/<%=element._id%>">Read More</a>
    </h4>
    <% }) %>